<h1>Editing parameter</h1>

<%= render :partial => 'form', :locals => { :button_label => "Update", :rriki_param => @rriki_param }  %>

<%= link_to 'Show', @rriki_param %> |
<%= link_to 'Back', rriki_params_path %>